.main_menu {
    display: inline;
}

.menu_style {
    display: inline;
    margin: 20px;
    font-size: 28px;
}

.menu_style a{
    color: #f26c31;
}

.rows__link {
    display: flex;
}

.long__link {
    width: 400px;
    margin: 15px;
    word-wrap: break-word;
}
.short__link {
    width: 400px;
    margin: 15px;
    word-wrap: break-word;
}